<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Welcome to Game.r</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/"></a>Game.r</li>
        <li><a href="/about"></a>About</li>
        <li><a href="/games"></a>Games</li>
        <li><a href="/games/new"></a>Add A Game</li>
      </ul>
    </nav>
  </header>
  <main>
    <%= yeild %>
  </main>
  <footer>
    &copy; Game.r
  </footer>
</body>
</html>
